body {
  margin: 0;
}
#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem; /* Footer height */
}

li {
  list-style: none;
}
a {
  text-decoration: none;
}
